.footer {
  /* background-color: #0c0e38; */
  background-color: rgb(66, 50, 54);
  color: #fff;
  margin-top: 4rem;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section p {
  margin: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ccc;
}

.footer-section .social-links {
  display: flex;
  gap: 10px;
}

.footer-section .social-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section .social-links a:hover {
  color: #ccc;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 10px 0;
    min-width: 100%;
    text-align: center;
  }

  .footer-section .social-links {
    justify-content: center;
  }
}
